{{ define "title"}}{{ t "page.unread.title" }} {{ if gt .countUnread 0 }}({{ .countUnread }}){{ end }} {{ end }}

{{ define "content"}}

{{ if not .entries }}
    <p class="alert">{{ t "alert.no_unread_entry" }}</p>
{{ else }}
    <div class="items hide-read-items">
        {{ range .entries }}
        <div class="item entry-item {{ if $.user.EntrySwipe }}entry-swipe{{ end }}" data-id="{{ .ID }}">
            {{ template "item_content" dict "user" $.user "entry" . "hasSaveEntry" $.hasSaveEntry  }}
        </div>
        {{ end }}
    </div>
    <div class="pagination-bottom">
        {{ template "pagination" .pagination }}
    </div>
{{ end }}

{{ end }}
